h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul{
    background-color: blue;
    color: white;
}

.list-paragraph{
    background-color: gray;
}

p{
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
    font-style: italic;
    line-height: 27px;
    text-align: center;
    text-decoration: darkblue;
}

#amarelo{
  background-color: yellow;
}

#vermelho{
  background-color: red;
}

#marrom{
  background-color: brown;
}